<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <link rel="stylesheet" type="text/css" href="main.css">
    
</head>
<body ng-app="myApp" ng-controller="myCtrl">
        
           <div class="container-sm pt-5 shadow p-3 mb-5 bg-white rounded">
                <div class="container row bg-primary text-white">
                    <div class="col-sm-1">
                        <span class="material-icons style="font-size:28px;">calendar_view_day</span>
                    </div>
    
                    <div class="col-sm-4 text-center">
                        <h4>TASK MANAGER</h4>
                    </div>
                    
                    
                    <div class="col-sm-3 " >
                        <!--<input type="button" class="btn btn-info" value="Add new task">-->
                        <button class="btn btn-info btn-sm" id='btn' value="">Add new task
                            <span class="material-icons icon-sm style="font-size:10px;">add</span></button>
                    </div>
                    <div class="col-sm-4">
                        <form class="example" ng-submit="">
                            
                            <input type="text" placeholder="Search.." ng-model="search" name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                            
                          </form>

                    </div>

                </div>
                <div class="container row text-white">
                    <form class="form-inline" ng-submit="add()" name="inp">
                            <input type="text" class="mr-sm-2" ng-model="newtask" placeholder="Type task">

                            <input type="submit" class="ml-sm-8" value="Add task">                  
                    
                    </form>   

                </div>
                <div class="container row text-white">
                    
                    <div class="col-sm-12">
                       
                        <table>
 
                            <tr ng-repeat="x in names | filter : search">
                                
                                <td><input type="checkbox" ng-model="x.done">  </td>            
                                <td>{{ $index + 1 }}.</td>
                                <td><span ng-bind="x.Text1"></span></td>
                                <td><button type="submit" class="btn btn-info btn-sm" ng-click="remove()" name="del" value="Delete selected">Delete</button></td>
                                
                                
                             </tr>
                        </table>
                    

                    </div>

                </div>

            </div>
        </section>
    </div>

   
    
    <script>
        var a = angular.module('myApp',[]);
        a.controller('myCtrl',function($scope){
            $scope.names=[];
            $scope.add=function() {
                
                $scope.names.push({Text1:$scope.newtask});
                $scope.newtask=null;
            };

            $scope.remove=function() {
                var tmp=$scope.names;
                $scope.names=[];
                angular.forEach(tmp, function(x) {
                    if (!x.done) $scope.names.push(x);
                });

            }
            


        });
        
    </script>
    
</body>
</html>
